
<div class="container-fluid px-1 py-5">
    <div class="card bg-white" style="margin-top:-30px;">
        <div class="card-body">


            <p class="h4" style="color:darkred">Personel Information</p>
            <div class="form-row">
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Registration No: </b> <input class="border-0 text-monospace" id="registrationNoText" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Name: </b><input class="border-0 text-monospace text-monospace" id="memberNameText" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Parantage: </b> <input class="border-0 text-monospace" id="fatherNameText" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Gender: </b> <input class="border-0 text-monospace" id="genderSelect" /> </p>
                </div>
            </div>
             <div class="form-row">
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Mother Language: </b> <input class="border-0 text-monospace" id="motherLanguageSeelct" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Marital Status: </b><input class="border-0 text-monospace" id="maritalStatusSelect" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>DOB: </b> <input class="border-0 text-monospace" id="dateOfBirthText" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Height: </b> <input class="border-0 text-monospace" id="heightText" /> </p>
                </div>
            </div>
             <div class="form-row">
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Body Type: </b> <input class="border-0 text-monospace" id="bodyTypeSelect" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Complex: </b><input class="border-0 text-monospace" id="complexSelect" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Qualification: </b> <input class="border-0 text-monospace" id="qualificationSelect" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Caste: </b> <input class="border-0 text-monospace" id="casteSelect" /> </p>
                </div>
            </div>
              <div class="form-row">
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Sub Caste: </b> <input class="border-0 text-monospace" id="subCasteText" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Sect: </b><input class="border-0 text-monospace" id="sectSelect" /> </p>
                </div>
            </div>
            <p class="h4" style="color:darkred">Job Detail</p>
             <div class="form-row">
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Job Position: </b> <input class="border-0 text-monospace" id="jobPositionText" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Monthly Income: </b><input class="border-0 text-monospace" id="monthlyIncomeText" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Nature of Job: </b> <input class="border-0 text-monospace" id="natureOfJobText" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Future Plan: </b> <input class="border-0 text-monospace" id="futuerPlanText" /> </p>
                </div>
            </div>
            <p class="h4" style="color:darkred">Family Detail</p>
             <div class="form-row">
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Father Occupation: </b> <input class="border-0 text-monospace" id="fatherOccupationText" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Mother Occupation: </b><input class="border-0 text-monospace" id="motherOccupationText" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Brothers: </b> <input class="border-0 text-monospace" id="brothersText" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Sisters: </b> <input class="border-0 text-monospace" id="sistersText" /> </p>
                </div>
            </div>
             <div class="form-row">
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Dependents: </b> <input class="border-0 text-monospace" id="dependNoOfPersonText" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Married Sibling: </b><input class="border-0 text-monospace" id="marriedSiblingText" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Kids: </b> <input class="border-0 text-monospace" id="kidsDetailText" /> </p>
                </div>
            </div>
            <p class="h4" style="color:darkred">Living Detail</p>

              <div class="form-row">
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Home District: </b> <input class="border-0 text-monospace" id="homeDistrictText" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Present Residence: </b><input class="border-0 text-monospace" id="presentResidentText" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>House: </b> <input class="border-0 text-monospace" id="houseSelect" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Contact No: </b> <input class="border-0 text-monospace" id="contactNoText" /> </p>
                </div>
            </div>
            <div class="form-row">
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Other Propertiest: </b> <input class="border-0 text-monospace" id="otherPropertiesText" /> </p>
                </div>
             
            </div>
             <p class="h4" style="color:darkred">Requirement</p>
            <div class="form-row">
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Age: </b> <input class="border-0 text-monospace" id="reqAgeText" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Height: </b><input class="border-0 text-monospace" id="reqheightText" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Caste: </b> <input class="border-0 text-monospace" id="reqCasteSelect" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Sect: </b> <input class="border-0 text-monospace" id="reqSectSelect" /> </p>
                </div>
            </div>
             <div class="form-row">
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Marital Status: </b> <input class="border-0 text-monospace" id="reqMaritalStatusSelect" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>City: </b><input class="border-0 text-monospace" id="reqCityText" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Nationality: </b> <input class="border-0 text-monospace" id="reqNationalitySelect" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Job: </b> <input class="border-0 text-monospace" id="reqJobText" /> </p>
                </div>
            </div>
              <div class="form-row">
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Qualification: </b> <input class="border-0 text-monospace" id="reqQualificationSelect" /> </p>
                </div>
                <div class="col-3">
                    <p class="text-muted text-sm"><b>Income: </b><input class="border-0 text-monospace" id="reqIncomeText" /> </p>
                </div>
               
            </div>

        </div>
    </div>
</div>