

<div class="container-fluid px-1 py-5">
    <div class="card bg-white" style="margin-top:-30px;">
        <div id="error"></div>
        <form method="post" enctype="multipart/form-data" id="memberForm">
            <div class="card-body">
                <input id="misId" hidden />
                <div class="loaderbody" id="loaderbody">
                    <div class="loader"></div>
                </div>

                <p class="h4" style="color:darkred">Personel Information</p>
                <div class="callout callout-danger bg-light">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="registrationNoText">Registration No</label>
                                <input type="text" class="form-control form-control-sm" id="registrationNoText" name="registrationNoText" disabled />

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm" id="misIdText" hidden  />

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="memberNameText">Name</label>
                                <input type="text" class="form-control form-control-sm" id="memberNameText" name="memberNameText" />

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="fatherNameText">Father's Name</label>
                                <input type="text" class="form-control form-control-sm" id="fatherNameText" name="fatherNameText" />

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="genderSelect">Gender</label>
                                <select id="genderSelect" name="genderSelect" class="form-control form-control-sm">
                                </select>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="nationalitySelect">Nationality</label>
                                <select id="nationalitySelect" name="nationalitySelect" class="form-control form-control-sm">
                                </select>

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="motherLanguageSeelct">Mother Language</label>
                                <select id="motherLanguageSeelct" name="motherLanguageSeelct" class="form-control form-control-sm select2">
                                </select>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="maritalStatusSelect">Marital Status</label>
                                <select id="maritalStatusSelect" name="maritalStatusSelect" class="form-control form-control-sm">
                                </select>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="dateOfBirthText">Date Of Birth</label>
                                <input type="date"  class="form-control form-control-sm" id="dateOfBirthText"  name="dateOfBirthText" />

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="heightText">Height</label>
                                <input type="text" class="form-control form-control-sm" id="heightText" name="heightText" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="bodyTypeSelect">Body Type</label>
                                <select id="bodyTypeSelect" name="bodyTypeSelect" class="form-control form-control-sm">
                                </select>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="complexSelect">Complex</label>
                                <select id="complexSelect" name="complexSelect" class="form-control form-control-sm"></select>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="qualificationSelect">Qualification</label>
                                <select id="qualificationSelect" name="qualificationSelect" class="form-control form-control-sm"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="casteSelect">Caste</label>
                                <select id="casteSelect" name="casteSelect" class="form-control form-control-sm">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="subCasteText">Sub Caste</label>
                                <input type="text" class="form-control form-control-sm" id="subCasteText" name="subCasteText" />

                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="sectSelect">Sect</label>
                                <select id="sectSelect" name="sectSelect" class="form-control form-control-sm">
                                </select>
                            </div>
                        </div>

                    </div>


                </div>

                <p class="h4" style="color:darkred">Job Detail</p>
                <div class="callout callout-warning bg-light">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="jobPositionText">Job Position</label>
                                <input type="text" class="form-control form-control-sm" id="jobPositionText" name="jobPositionText" />

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="monthlyIncomeText">Monthly Income</label>
                                <input type="text" class="form-control form-control-sm" id="monthlyIncomeText" name="monthlyIncomeText" />

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="natureOfJobText">Nature Of Job</label>
                                <input type="text" class="form-control form-control-sm" id="natureOfJobText" name="natureOfJobText" />

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="futuerPlanText">Futer Plan</label>
                                <input type="text" class="form-control form-control-sm" id="futuerPlanText" name="futuerPlanText" />

                            </div>
                        </div>

                    </div>

                </div>
                <p class="h4" style="color:darkred">Family Detail</p>
                <div class="callout callout-info bg-light">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="fatherOccupationText">Father Occupation</label>
                                <input type="text" class="form-control form-control-sm" id="fatherOccupationText" name="fatherOccupationText" />

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="motherOccupationText">Mother's Occupation</label>
                                <input type="text" class="form-control form-control-sm" id="motherOccupationText" name="motherOccupationText" />

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="brothersText">Brothers</label>
                                <input type="text" class="form-control form-control-sm" id="brothersText" name="brothersText" />

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="sistersText">Sisters</label>
                                <input type="text" class="form-control form-control-sm" id="sistersText" name="sistersText" />

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dependNoOfPersonText">Depends No of Persons</label>
                                <input type="text" class="form-control form-control-sm" id="dependNoOfPersonText" name="dependNoOfPersonText" />

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="marriedSiblingText">Married Sibling</label>
                                <input type="text" class="form-control form-control-sm" id="marriedSiblingText" name="marriedSiblingText" />

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="kidsDetailText">Kids<span class="mailbox-read-time text-sm">(in case divorce/widow/2nd marriage)</span> </label>
                                <input type="text" class="form-control form-control-sm" id="kidsDetailText" name="kidsDetailText" />

                            </div>
                        </div>

                    </div>

                </div>
                <p class="h4" style="color:darkred">Living Detail</p>
                <div class="callout callout-warning bg-light">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="homeDistrictText">Home District</label>
                                <input type="text" class="form-control form-control-sm" id="homeDistrictText" name="homeDistrictText" />

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="presentResidentText">Present Resident</label>
                                <input type="text" class="form-control form-control-sm" id="presentResidentText" name="presentResidentText" />

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="houseSelect">House</label>
                                <select type="text" class="form-control form-control-sm" id="houseSelect" name="houseSelect">
                                </select>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="contactNoText">Contact No</label>
                                <input type="text" class="form-control form-control-sm" id="contactNoText" name="contactNoText" />

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="otherPropertiesText">Other Properties</label>
                                <input type="text" class="form-control form-control-sm" id="otherPropertiesText" name="otherPropertiesText" />

                            </div>
                        </div>
                    </div>
                </div>

                <p class="h4" style="color:darkred">Requirement</p>
                <div class="callout callout-info bg-light">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reqAgeText">Age</label>
                                <input type="text" class="form-control form-control-sm" id="reqAgeText" name="reqAgeText" />

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reqheightText">Height</label>
                                <input type="text" class="form-control form-control-sm" id="reqheightText" name="reqheightText" />

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reqCasteSelect">Caste</label>
                                <select id="reqCasteSelect" name="reqCasteSelect" class="form-control form-control-sm">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reqSectSelect">Sect</label>
                                <select id="reqSectSelect" name="reqSectSelect" class="form-control form-control-sm">
                                </select>
                            </div>
                        </div>



                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reqMaritalStatusSelect">Marital Status</label>
                                <select id="reqMaritalStatusSelect" name="reqMaritalStatusSelect" class="form-control form-control-sm">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reqCityText">City</label>
                                <input type="text" class="form-control form-control-sm" id="reqCityText" name="reqCityText" />

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reqNationalitySelect">Country</label>
                                <select type="text" class="form-control form-control-sm" id="reqNationalitySelect" name="reqNationalitySelect"></select>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reqJobText">Job</label>
                                <input type="text" class="form-control form-control-sm" id="reqJobText" name="reqJobText" />

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reqQualificationSelect">Qualification</label>
                                <select type="text" class="form-control form-control-sm" id="reqQualificationSelect" name="reqQualificationSelect">
                                    <option>--Select Qualification--</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reqIncomeText">Income(PKR)</label>
                                <input type="text" class="form-control form-control-sm" id="reqIncomeText" name="reqIncomeText" />

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-info btn-block">submit</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>