@{
    ViewData["Title"] = "UpSert";
}
<div>
    @await Html.PartialAsync("_UpSertHtml.cshtml")
</div>
@section Scripts{
    @*    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>*@
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="~/plugins/select2/js/select2.min.js" type="text/javascript"></script>

    <script>
        $(document).ready(function() {
            debugger
            $.validator.setDefaults({
                submitHandler: function() {
                    submitDataBtn();

                }
            });

            $('#memberForm').validate({

                rules: {
                    memberNameText: 'required',
                    fatherNameText: 'required',
                    genderSelect: 'required',
                    nationalitySelect: 'required',
                    motherLanguageSeelct: 'required',
                    maritalStatusSelect: 'required',
                    dateOfBirthText: 'required',
                    heightText: {
                        required: true,
                        number: true
                    },
                    bodyTypeSelect: 'required',
                    complexSelect: 'required',
                    qualificationSelect: 'required',
                    casteSelect: 'required',
                    subCasteText: 'required',
                    sectSelect: 'required',
                    jobPositionText: 'required',
                    monthlyIncomeText: {
                        required: true,
                        digits: true
                    },
                    natureOfJobText: 'required',
                    futuerPlanText: 'required',
                    fatherOccupationText: 'required',
                    motherOccupationText: 'required',
                    brothersText: {
                        required: true,
                        digits: true
                    },
                    sistersText: {
                        required: true,
                        digits: true
                    },
                    dependNoOfPersonText: {
                        required: true,
                        digits: true
                    },
                    marriedSiblingText: {
                        required: true,
                        digits: true
                    },
                    homeDistrictText: 'required',
                    presentResidentText: 'required',
                    houseSelect: 'required',
                    contactNoText: {
                        required: true,
                        digits: true
                    },
                    otherPropertiesText: 'required',
                    reqAgeText: {
                        required: true,
                        digits: true
                    },
                    reqheightText: {
                        required: true,
                        number: true
                    },
                    reqCasteSelect: 'required',
                    reqSectSelect: 'required',
                    reqMaritalStatusSelect: 'required',
                    reqCityText: 'required',
                    reqCountryText: 'required',
                    reqJobText: 'required',
                    reqQualificationSelect: 'required',
                    reqIncomeText: 'required',


                },
                messages: {
                    memberNameText: 'Member Name is requred Field',
                    fatherNameText: 'Member Father Name is required Field',
                    genderSelect: 'Please seelct member Gender',
                    nationalitySelect: 'Please Select Nationality',
                    motherLanguageSeelct: 'Please Select Mother Language',
                    maritalStatusSelect: 'Please select Marital Status',
                    dateOfBirthText: 'Enter Date of Birth',
                    heightText: {
                        required: 'Enter Height of Member',
                        number: 'Please enter only decimal value(ie 5.9)'
                    },
                    bodyTypeSelect: 'Please Select Body Type',
                    complexSelect: 'Please Select Complex',
                    qualificationSelect: 'Please Select Qualification',
                    casteSelect: 'Please Select Caste',
                    subCasteText: 'Enter sub Caste',
                    sectSelect: 'Please Select Sect',
                    jobPositionText: 'Enter Job Position',
                    monthlyIncomeText: {
                        required: 'Enter Monthly Income in PKR',
                        digit: 'Please enter Amount(Numbers) in PKR'
                    },
                    natureOfJobText: 'Enter Nature of job',
                    futuerPlanText: 'Enter future plan',
                    fatherOccupationText: 'Enter Father occupation',
                    motherOccupationText: 'Enter Mother occupation',
                    brothersText: {
                        required: 'enter No. of brothers',
                        digits: 'Number of brother(s) should be integer value'
                    },
                    sistersText: {
                        required: 'enter No. Of sisters',
                        digits: 'Number of sister(s) should be integer value'
                    },
                    dependNoOfPersonText: {
                        required: 'enter No. of persons dependent',
                        digits: 'dependent Number of person(s) should be integer value'
                    },
                    marriedSiblingText: {
                        required: 'enter No. of married sibling',
                        digits: 'married sibling should be integer value'
                    },
                    homeDistrictText: 'enter Home district',
                    presentResidentText: 'enter presiden Address',
                    houseSelect: 'Please select House Type',
                    contactNoText: {
                        required: 'enter contact Number',
                        digits: 'contact Number should be integer value'
                    },
                    otherPropertiesText: 'enter other properties',
                    reqAgeText: {
                        required: 'enter requirement Age',
                        digits: 'age should be integer value'
                    },
                    reqheightText: {
                        required: 'enter requirement height',
                        number: 'requirement heigh should be dicimal value(ie 5.9)'
                    },
                    reqCasteSelect: 'Please requirement Caste',
                    reqSectSelect: 'Please select requirement sect',
                    reqMaritalStatusSelect: 'Please select requirement Marital Status',
                    reqCityText: 'enter requirement city',
                    reqCountryText: 'enter requirement country',
                    reqJobText: 'enter requirement job',
                    reqQualificationSelect: 'enter requirement Qualification',
                    reqIncomeText: 'enter requirement income',


                },



                errorElement: 'span',
                errorPlacement: function(error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function(element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function(element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }

            });

            $(document).ajaxStart(function() {
                $("#overlay").fadeIn(100);
            });
            LoadDefaults();
            getMisId();


            $(document).ajaxComplete(function() {
                setTimeout(function() {
                    $("#overlay").fadeOut(100)
                }, 100);
            });

        });

        function getMisId() {
            debugger
            const searchParams = new URLSearchParams(window.location.search);
            var id = searchParams.get('vId');
            // if Id >0 got for Edit other else Generate New Id and Registratio No
            if (id > 0) {
                $.ajax({
                    type: "GET",
                    url: "/Member/getMemberById?id=" + id,
                    data: "{}",
                    cache: false,
                    success: function(data) {
                        //function selectElement(id, valueToSelect) {
                        //    let element = document.getElementById(id);
                        //    element.value = valueToSelect;
                        //}
                        debugger
                        console.log("data by Id is: ", data);
                        var formattedDate = moment(data.dateOfBirth).format('D/MM/YYYY');
                        //Personnel Iformation
                        $('#misIdText').val(data.id);
                        $('#registrationNoText').val(data.registrationNo);
                        $('#memberNameText').val(data.name);
                        $('#fatherNameText').val(data.parantage);
                        $('#genderSelect').val(data.genderId);
                        $('#nationalitySelect').val(data.nationalityId);
                        $('#motherLanguageSeelct').val(data.motherLanguageId);
                        $('#maritalStatusSelect').val(data.maritalStatusId);
                        //$('#dateOfBirthText').val(data.dateOfBirth),
                        //   $('#dateOfBirthText').val(formattedDate),
                        $('#heightText').val(data.height);
                        $('#bodyTypeSelect').val(data.bodyTypeId);
                        $('#complexSelect').val(data.complexId);
                        $('#qualificationSelect').val(data.qualificationId);
                        $('#casteSelect').val(data.casteId);
                        $('#subCasteText').val(data.subCaste);
                        $('#sectSelect').val(data.sectId);
                        $('#jobPositionText').val(data.jobPosition);
                        $('#monthlyIncomeText').val(data.monthlyIncome);
                        $('#natureOfJobText').val(data.natureOfJob);
                        $('#futuerPlanText').val(data.futurePlans);
                        $('#fatherOccupationText').val(data.fatherOccupation);
                        $('#motherOccupationText').val(data.motherOccupation);
                        $('#brothersText').val(data.brothers);
                        $('#sistersText').val(data.sisters);
                        $('#dependNoOfPersonText').val(data.dependsSibling);
                        $('#marriedSiblingText').val(data.brSisMarried);
                        $('#kidsDetailText').val(data.kidsDetail);
                        $('#homeDistrictText').val(data.homeDistricts);
                        $('#presentResidentText').val(data.residence);
                        $('#houseSelect').val(data.houseId);
                        $('#contactNoText').val(data.contact);
                        $('#otherPropertiesText').val(data.otherProperties);
                        $('#reqAgeText').val(data.age);
                        $('#reqheightText').val(data.reqHeight);
                        $('#reqCasteSelect').val(data.reqCasteId);
                        $('#reqSectSelect').val(data.reqSectId);
                        $('#reqMaritalStatusSelect').val(data.reqMaritalStatusId);
                        $('#reqCityText').val(data.city);
                        $('#reqNationalitySelect').val(data.reqNationalityId);
                        $('#reqJobText').val(data.job);
                        $('#reqQualificationSelect').val(data.reqQualificationId);
                        $('#reqIncomeText').val(data.income)

                        console.log("Nationality: ", $('#nationalitySelect').val());
                        console.log("Marital Status: ", $('#maritalStatusSelect').val());
                        console.log("Complex: ", $('#complexSelect').val());

                    }


                });
            }
            else {
                $.ajax({
                    type: "GET",
                    url: "/Member/GetNextmisId",
                    data: "{}",

                    success: function(data) {
                        console.log("mis Id is: ", data);
                        var currentYear = (new Date).getFullYear();
                        var vRegistration = currentYear + "-GRC-" + data;
                        $("#registrationNoText").val(vRegistration);
                        $("#misIdText").val(data);

                    }

                });
            }
        }
        function LoadDefaults() {
            debugger
            //Nationality DDL
            $.ajax({
                type: "GET",
                url: "/Member/LookUpTypes/" + 1,
                data: "{}",
                async: false,
                success: function(data) {
                    var s = '<option value="">Select Nationality</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#nationalitySelect").html(s);
                }

            });
            //Requirement Natinality
            $.ajax({
                type: "GET",
                url: "/Member/LookUpTypes/" + 1,
                data: "{}",
                async: false,

                success: function(data) {
                    var s = '<option value="">Select Nationality</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#reqNationalitySelect").html(s);
                }

            });
            //Gender DDL
            $.ajax({
                type: "GET",
                url: "/Member/LookUpTypes/" + 2,
                data: "{}",
                async: false,
                success: function(data) {
                    var s = '<option value="">Select Gender</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#genderSelect").html(s);
                }

            });
            //Mother Language DDL
            $.ajax({
                type: "GET",
                url: "/Member/LookUpTypes/" + 3,
                data: "{}",
                async: false,
                success: function(data) {
                    var s = '<option value="">Select Mother Language</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#motherLanguageSeelct").html(s);
                }

            });
            //Marital Status DDL
            $.ajax({
                type: "GET",
                url: "/Member/LookUpTypes/" + 4,
                data: "{}",
                async: false,
                success: function(data) {
                    var s = '<option value="">Select Marital Status</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#maritalStatusSelect").html(s);
                }

            });
            //Body Type DDL
            $.ajax({
                type: "GET",
                url: "/Member/LookUpTypes/" + 5,
                data: "{}",
                async: false,
                success: function(data) {
                    var s = '<option value="">Select Body Type</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#bodyTypeSelect").html(s);
                }

            });
            //Complex DDL
            $.ajax({
                type: "GET",
                url: "/Member/LookUpTypes/" + 6,
                data: "{}",
                async: false,
                success: function(data) {
                    var s = '<option value="">Select Complex</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#complexSelect").html(s);
                }

            });
            //Qualification DDL
            $.ajax({
                type: "GET",
                url: "/Member/LookUpTypes/" + 7,
                data: "{}",
                 async: false,
                success: function(data) {
                    var s = '<option value="">Select Qualifications</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#qualificationSelect").html(s);
                }

            });
            //Caste DDL
            $.ajax({
                type: "GET",
                url: "/Member/LookUpTypes/" + 10,
                data: "{}",
                 async: false,
                success: function(data) {
                    var s = '<option value="">Select Caste</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#casteSelect").html(s);
                }

            });
            //Sect DDL
            $.ajax({
                type: "GET",
                url: "/Member/LookUpTypes/" + 8,
                data: "{}",
                 async: false,
                success: function(data) {
                    var s = '<option value="">Select Sect</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#sectSelect").html(s);
                }

            });
            //House DDL
            $.ajax({
                type: "GET",
                url: "/Member/LookUpTypes/" + 9,
                data: "{}",
                 async: false,
                success: function(data) {
                    var s = '<option value="">Select House Type</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#houseSelect").html(s);
                }

            });
            //Rquiredment Caste DDL
            $.ajax({
                type: "GET",
                url: "/Member/LookUpTypes/" + 10,
                data: "{}",
                 async: false,
                success: function(data) {
                    var s = '<option value="">Select Caste</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#reqCasteSelect").html(s);
                }

            });
            //Rquiredment Sect DDL
            $.ajax({
                type: "GET",
                url: "/Member/LookUpTypes/" + 8,
                data: "{}",
                 async: false,
                success: function(data) {
                    var s = '<option value="">Select Sect</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#reqSectSelect").html(s);
                }

            });
            //Rquiredment Marital Status DDL
            $.ajax({
                type: "GET",
                url: "/Member/LookUpTypes/" + 4,
                data: "{}",
                 async: false,
                success: function(data) {
                    var s = '<option value="">Select Marital Status</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#reqMaritalStatusSelect").html(s);
                }

            });
            //Rquiredment Qualification DDL
            $.ajax({
                type: "GET",
                url: "/Member/LookUpTypes/" + 7,
                data: "{}",
                 async: false,
                success: function(data) {
                    var s = '<option value="">Select Qualification</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#reqQualificationSelect").html(s);
                }

            });

        }
        function submitDataBtn() {
            event.preventDefault();
            var vdob = $('#dateOfBirthText').val();
            var formatDOB = moment(vdob).format('YYYY/MM/D');
            var data = {

                Id: $('#misIdText').val(),
                // Id: 84,
                //Personnel Information
                RegistrationNo: $('#registrationNoText').val(),
                Name: $('#memberNameText').val(),
                Parantage: $('#fatherNameText').val(),
                GenderId: $('#genderSelect').val(),
                NationalityId: $('#nationalitySelect').val(),
                MotherLanguageId: $('#motherLanguageSeelct').val(),
                MaritalStatusId: $('#maritalStatusSelect').val(),
                DateOfBirth: $('#dateOfBirthText').val(),
                // DateOfBirth:formatDOB ,
                Height: $('#heightText').val(),
                BodyTypeId: $('#bodyTypeSelect').val(),
                ComplexId: $('#complexSelect').val(),
                QualificationId: $('#qualificationSelect').val(),
                CasteId: $('#casteSelect').val(),
                SubCaste: $('#subCasteText').val(),
                SectId: $('#sectSelect').val(),

                //Job Detail
                JobPosition: $('#jobPositionText').val(),
                MonthlyIncome: $('#monthlyIncomeText').val(),
                NatureOfJob: $('#natureOfJobText').val(),
                FuturePlans: $('#futuerPlanText').val(),

                //Family Detail
                FatherOccupation: $('#fatherOccupationText').val(),
                MotherOccupation: $('#motherOccupationText').val(),
                Brothers: $('#brothersText').val(),
                Sisters: $('#sistersText').val(),
                DependsSibling: $('#dependNoOfPersonText').val(),
                BrSisMarried: $('#marriedSiblingText').val(),
                KidsDetail: $('#kidsDetailText').val(),

                // Living Detail
                HomeDistricts: $('#homeDistrictText').val(),
                Residence: $('#presentResidentText').val(),
                HouseId: $('#houseSelect').val(),
                Contact: $('#contactNoText').val(),
                OtherProperties: $('#otherPropertiesText').val(),

                //Requirement
                Age: $('#reqAgeText').val(),
                ReqHeight: $('#reqheightText').val(),
                ReqCasteId: $('#reqCasteSelect').val(),
                ReqSectId: $('#reqSectSelect').val(),
                ReqMaritalStatusId: $('#reqMaritalStatusSelect').val(),
                City: $('#reqCityText').val(),
                ReqNationalityId: $('#reqNationalitySelect').val(),
                Job: $('#reqJobText').val(),
                ReqQualificationId: $('#reqQualificationSelect').val(),
                Income: $('#reqIncomeText').val(),

            };
            console.log(data);
            $.ajax({
                type: 'POST',
                url: '/Member/InsertMemberDetail',
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                processData: true,
                success: function(r) {
                    console.log("RESULT", r);
                    window.location.href = '/Member/Index';

                }

            });
        }
    </script>

}