@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><h1>DashBoard will be ready soon</h1>.</p>
    <p><h1>Dashbard New line added.....</h1>.</p>
</div>
